body {
    padding: 10px 0 0 0;
    margin: 0;
    -webkit-transform-style: preserve-3d;
    -webkit-perspective: 1000px;
    -moz-transform-style: preserve-3d;
    -moz-perspective: 1000px;
    -ms-transform-style: preserve-3d;
    -ms-perspective: 1000px;
    transform-style: preserve-3d;
    perspective: 1000px;
    background-color: #a62e54;
    overflow: hidden;
}
.box {
    margin-top: 36px;
    word-wrap: break-word;
    -webkit-transform-origin: center top;
    -moz-transform-origin: center top;
    -ms-transform-origin: center top;
    transform-origin: center top;
    opacity: 0.9;
    text-align: center;
    font-size: 200px;
    line-height:0.85;
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: bold;
    color: #fff;
}
.box-2 {
    display: none;
}
.box-3 {
    display: none;
}